
[submodule "test_data"]
	path = test_data
	url = https://github.com/ptrkrysik/test_data.gitAdd commentMore actions
	url = https://git.osmocom.org/ptrkrysik/test_data
[submodule "examples"]
	path = examples
	url = https://github.com/ptrkrysik/examples.git
	url = https://git.osmocom.org/ptrkrysik/examples
