
[submodule "test_data"]
	path = test_data
	url = https://github.com/ptrkrysik/test_data.gitAdd commentMore actions

[submodule "examples"]
	path = examples
	url = https://github.com/ptrkrysik/examples.git
